:root {
  --color-white: #ffffff;
  --color-light: #eee9df;
  --color-black: #2d2323;
  --color-text: #0e1016f2;
  --color-text-light: #1f1717;
  --color-text-grey: #8a7878;
  --color-blue: #4f75fe;
  --color-dark-blue: #254cda;
  --color-green: #1bc183;
  --color-orange: #f7bd00;
  --color-red: #fc4945;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  font-family: Lato, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Acme, sans-serif;
  font-weight: 500;
  color: var(--color-black);
}
